@page "/counter"
@using GymMan.Services.CQRS
@using GymMan.Services.CQRS.Commands
@using GymMan.Services.CQRS.Commands.Events
@using GymMan.Services.CQRS.Events


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Inject]
    public EventPlayerService loginDispatcher { get; set; }

    private int _currentCount = 0;

    private async Task IncrementCount()
    {
        _currentCount++;
        await loginDispatcher.EmitAsync(new loginEvent() { });
    }
}
